.container{
    display: flex;
    height: 100vh;
    align-items: center;
    background-color: #000000;
}
span{
  display: block;
}

.nombres{
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 0 94px;
}
.nombres h1:nth-child(1){
  font-family: system-ui;
  font-size: 62px;
  color: white;
  margin:0;
}
.nombres h1:nth-child(2){
  font-family: system-ui;
  font-size: 51px;
  color: #0905e2;
  margin: 0;
  letter-spacing: 2px;
  white-space: nowrap;
  border-right: 4px solid;
  width: 14ch;

  animation: typing 2s steps(12),
  blink .5s infinite step-end alternate;
  overflow: hidden;
}


.nombres p{
    font-size: 15px;
    color: #d4d6d8;
    margin-top: 15px;
    margin-bottom: 26px;
}

.imagen{
    width: 40%;
    display: flex;
    justify-content: center;
    margin-right: 102px;
}
/* .imagen img:nth-child(1){
  position: absolute;
  width: 84px;
  top: 186px;
  border-radius: 14px;
} */

.imagen img:nth-child(1){
  object-fit: contain;
    width: 379px;
    height: 393px;
    border-radius: 50%;
    outline: 3px solid #0b08bf;
}

.button{
    width: 164px;
    height: 44px;
    background: #8B0000 !important;
}

.arrowIcon{
    position: absolute;
    bottom: 12px;
    right: 743px;
    color: white;
    font-size: 2.9rem !important;
    transform: rotate(45deg);
    animation: bounce 1s infinite;
}


@keyframes typing{
  from {width: 0;}
}

@keyframes blink{
  30% {border-color: transparent;}
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }



  @media (max-width: 1434px) {
    .arrowIcon{
        display: none !important;
        background-color: transparent;
    }
  }

  @media (max-width: 1159px) {
    .nombres h1{
       font-size: 38px;
    }
  }

  @media (max-width: 862px) {
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .imagen{
        margin-top: 30px;
    }
    .nombres h1,.nombres p{
        text-align: center;
        padding: 0;
    }
  }